scripts/n8n-workflows/bowtie-scene-prep.json
{
  "_RETIRED": "2026-02-16 — Replaced by scripts/004-bowtie/bowtie_scene_compiler.py. This workflow's prompt assembly logic now runs locally. Kept for reference only. Do NOT deploy to n8n.",
  "name": "BowTie Scene Prep [RETIRED]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bowtie-scene-prep",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "scene-prep-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "bowtie-scene-prep"
    },
    {
      "parameters": {},
      "id": "scene-prep-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files/1yfbkV_bvmcnPk486flWS1XqYk5d8eggt?alt=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "scene-prep-drive-download",
      "name": "Fetch Pipeline JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 400],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "53ssDoT9mG1Dtejj",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pipeline JSON arrives directly from HTTP Request (no binary parsing needed)\nconst pipeline = $input.first().json;\nconst scenes = pipeline.scenes || [];\nconst episodeId = pipeline.episode_id || 'EP-001';\n\n// ── Structured prompt slot constants ──\nconst MEDIUM = '2D cel-shaded illustration, flat color fills, clean ink outlines, hand-drawn animation frame';\nconst TEXTURE = '35mm film grain 20% opacity, high contrast, shallow depth of field';\nconst FORMAT = '16:9 widescreen, cinematic composition';\n\n// ── Act-keyed palette & lighting — dramatically differentiated per plan ──\nconst ACT_MOOD = {\n  ACT_1: {\n    palette: 'Near-black #0D0D0F dominant, ONLY rust-orange #9A4C22 sodium vapor accent. Cold, isolated, no warmth except single light source',\n    lighting: 'Single rust-orange sodium vapor light source, Roger Deakins cinematography, dramatic hard shadows'\n  },\n  ACT_2A: {\n    palette: 'Dark base #1A1A1C disrupted by NEON — buzzing greens #39FF14, hot pinks #FF1493, predatory commercial energy. Desaturated except neon',\n    lighting: 'Neon sign color spill as primary light, sodium vapor secondary, harsh urban shadows'\n  },\n  ACT_2B: {\n    palette: 'Warm amber #D4A843 and honey EMERGING as dominant, dark steel #1E1E20 receding to edges. Interior warmth, lived-in spaces',\n    lighting: 'Warm practical light from interior sources — barber lamps, kitchen windows, porch lights. Softer shadows'\n  },\n  ACT_2C: {\n    palette: 'Golden hour #D4A843 DOMINANT. Warm, earned, community light. Steel #1E1E20 at edges only, no longer oppressive',\n    lighting: 'Golden hour directional light, long warm shadows. Hopeful but grounded'\n  },\n  ACT_3A: {\n    palette: 'Deep sepia and candlelight #C4873B. No modern light sources. Historical, intimate, aged paper warmth on near-black',\n    lighting: 'Single candlelight source only, warm amber glow, gentle shadows. Reverent'\n  },\n  ACT_3B: {\n    palette: 'Dawn expanding — bone white #E7E7E1 highlights growing, warm orange horizon. Steel #1E1E20 at ground level only. Morning energy',\n    lighting: 'Early morning dawn light, warm and expanding from horizon. Practical interior lighting where applicable. Confident and clear'\n  },\n  UNKNOWN: {\n    palette: 'Dark steel #1E1E20, rust-orange #9A4C22 sodium vapor accent, desaturated earth tones',\n    lighting: 'Single rust-orange sodium vapor light source, dramatic hard shadows'\n  }\n};\n\n// ── HARD RULE: Strip character (Red Nose Pitbull / Tyrone) from ANY prompt ──\n// Character is ALWAYS composited from canonical PNGs. Text-to-image NEVER generates the character.\nfunction stripCharacter(text) {\n  return text\n    .replace(/Red Nose Pit\\s*bull[^.,]*/gi, '')\n    .replace(/Pitbull[^.,]*/gi, '')\n    .replace(/Tyrone[^.,]*/gi, '')\n    .replace(/\\(P[1-6][^)]*\\)/gi, '')\n    .replace(/\\(P[1-6]\\s+(?:variant|silhouette|pose)[^)]*\\)/gi, '')\n    .replace(/,\\s*,/g, ',')\n    .replace(/^[\\s,]+/, '')\n    .replace(/[\\s,]+$/, '')\n    .trim();\n}\n\n// ── Strip existing style cues from pipeline visual_prompt (they now live in slots) ──\nfunction cleanScenePrompt(raw, isCharScene) {\n  let cleaned = raw\n    .replace(/,?\\s*2D cel-shaded style/gi, '')\n    .replace(/,?\\s*film grain \\d+%/gi, '')\n    .replace(/,?\\s*(?:heavy|medium|light|soft)\\s+vignette/gi, '')\n    .replace(/,?\\s*vignette/gi, '')\n    .replace(/,?\\s*16:9\\.?/gi, '')\n    .replace(/,?\\s*1920x1080\\.?/gi, '')\n    .replace(/,?\\s*1280x720\\.?/gi, '')\n    .replace(/,?\\s*Dark steel palette[^.]*?\\./gi, '')\n    .replace(/,?\\s*Dark steel palette/gi, '')\n    .replace(/,?\\s*Rust[- ]orange and dark steel only/gi, '')\n    .replace(/,?\\s*Warm golden tones on dark steel base/gi, '')\n    .replace(/,?\\s*Dark steel palette with[^,.]+/gi, '')\n    .replace(/,?\\s*cinematic\\.?/gi, '')\n    .replace(/\\.\\s*$/, '')\n    .trim();\n  // HARD RULE: ALWAYS strip character from ALL text-to-image prompts — no exceptions\n  cleaned = stripCharacter(cleaned);\n  return cleaned;\n}\n\n// ── Build prompt for a visual beat (narrative concept → styled prompt) ──\nfunction buildBeatPrompt(beat, act) {\n  const mood = ACT_MOOD[act] || ACT_MOOD.UNKNOWN;\n  const parts = [];\n\n  // 1. Story function as context (character-stripped)\n  if (beat.story_function) parts.push('Story: ' + stripCharacter(beat.story_function));\n\n  // 2. Visual concept (the narrative-first description, character-stripped)\n  parts.push(stripCharacter(beat.visual_concept));\n\n  // 3. Art style\n  parts.push(MEDIUM);\n\n  // 4. Palette as supporting constraint\n  parts.push('Color constraint: ' + mood.palette);\n\n  // 5. Texture + format\n  parts.push(TEXTURE, FORMAT);\n\n  return parts.join('. ') + '.';\n}\n\n// ── Narrative-first prompt: scene identity FIRST, palette as trailing constraint ──\nfunction buildPrompt(sceneObj, shotOverride, act) {\n  const mood = ACT_MOOD[act] || ACT_MOOD.UNKNOWN;\n  const anchors = sceneObj.visual_anchors || {};\n  const cleaned = cleanScenePrompt(sceneObj.visual_prompt || sceneObj);\n  const parts = [];\n\n  // 1. Scene identity — what IS this image? (ALWAYS strip character)\n  if (anchors.scene_signature) {\n    let sig = stripCharacter(anchors.scene_signature);\n    if (sig) parts.push(sig);\n  }\n\n  // 2. Must-include objects — front-loaded for Gemini attention\n  if (anchors.must_include && anchors.must_include.length)\n    parts.push('Key visible objects: ' + anchors.must_include.join(', '));\n\n  // 3. Scene details (the cleaned visual_prompt content)\n  parts.push(cleaned);\n\n  // 4. Composition + shot override\n  if (anchors.composition) parts.push(anchors.composition);\n  if (shotOverride) parts.push(shotOverride);\n\n  // 5. Lighting — scene-specific overrides act default\n  parts.push(anchors.lighting_override || mood.lighting);\n\n  // 6. Art style (medium)\n  parts.push(MEDIUM);\n\n  // 7. Palette as supporting constraint (NOT leading)\n  parts.push('Color constraint: ' + mood.palette);\n\n  // 8. Texture + format\n  parts.push(TEXTURE, FORMAT);\n\n  // 9. Anchor reinforcement — critical objects repeated at end for Gemini\n  if (anchors.must_include && anchors.must_include.length)\n    parts.push('IMPORTANT: These must be clearly visible: ' + anchors.must_include.join(', '));\n\n  return parts.join('. ') + '.';\n}\n\n// ── Shot variants with continuity anchors ──\nconst SHOTS = {\n  a: null,\n  b: 'Same exact scene and location described above. Camera pushes in to extreme close-up of the most prominent foreground subject or object. Background elements remain consistent and visible in soft focus. Same lighting direction and color temperature',\n  c: 'Same exact scene and location described above. Camera pulls back to wide establishing shot revealing full environment. Every described element visible in frame. Same lighting direction and color temperature'\n};\n\n// ── Canonical character asset map (pose_variant → filename) ──\nconst CANONICAL_MAP = {\n  P1: 'tyroneStanding_armsBySide_transparent.png',\n  P2: 'tyrone_Standing_armsCrossed_transparent.png',\n  P3: 'tyroneFullBody_frontal_transparent.png',\n  P4: 'tyroneFullBody_quarterTurn_transparent.png',\n  P5: 'tyrone_flexing_biceps_transparent.png',\n  P6: 'tyrone_crouching_transparent.png'\n};\n\n// ── Act mapping for B-roll ──\nfunction normalizeAct(actStr) {\n  if (!actStr) return 'UNKNOWN';\n  if (actStr.includes('ACT 1')) return 'ACT_1';\n  if (actStr.includes('ACT 2A')) return 'ACT_2A';\n  if (actStr.includes('ACT 2B')) return 'ACT_2B';\n  if (actStr.includes('ACT 2C')) return 'ACT_2C';\n  if (actStr.includes('ACT 3A')) return 'ACT_3A';\n  if (actStr.includes('ACT 3B')) return 'ACT_3B';\n  return 'UNKNOWN';\n}\n\n// ── Build records from visual_beats (one Airtable record per beat) ──\nfunction buildBeatRecords(scene) {\n  const sceneNum = String(scene.scene_number).padStart(3, '0');\n  const act = normalizeAct(scene.act);\n  const anchors = scene.visual_anchors || {};\n  const sceneSignature = anchors.scene_signature || '';\n\n  return scene.visual_beats.map(beat => ({\n    episode_id: episodeId,\n    scene_number: scene.scene_number,\n    variant_id: beat.beat_id,\n    variant_desc: beat.concept_type,\n    visual_prompt_full: buildBeatPrompt(beat, act),\n    target_filename: `scene-${sceneNum}-beat-${beat.beat_id}.png`,\n    generation_status: 'ready_for_generation',\n    scene_type: beat.concept_type,\n    concept_type: beat.concept_type,\n    act: act,\n    pose_variant: scene.pose_variant || null,\n    canonical_source: scene.pose_variant ? (CANONICAL_MAP[scene.pose_variant] || null) : null,\n    generation_attempts: 0,\n    narrative_anchors: beat.story_function || '',\n    scene_signature: sceneSignature,\n    beat_timecode: beat.timecode || '',\n    narration_fragment: beat.narration_fragment || ''\n  }));\n}\n\n// ── Variant builder (legacy scenes without visual_beats) ──\nfunction buildVariants(scene) {\n  const isChar = !!scene.pose_variant;\n  const base = scene.visual_prompt;\n  const sceneNum = String(scene.scene_number).padStart(3, '0');\n  const act = normalizeAct(scene.act);\n\n  // ── Extract anchor data for Airtable passthrough ──\n  const anchors = scene.visual_anchors || {};\n  const narrativeAnchors = (anchors.must_include || []).join(', ');\n  const sceneSignature = anchors.scene_signature || '';\n\n  // ── CHARACTER SCENES: generate 3 bg plate variants for compositing ──\n  if (isChar) {\n    const canonicalFile = CANONICAL_MAP[scene.pose_variant] || CANONICAL_MAP.P1;\n    const bgPromptBase = scene.bg_environment || cleanScenePrompt(base);\n    const bgScene = { ...scene, visual_prompt: bgPromptBase + '. Environment and atmosphere only, empty scene, no characters, no dogs, no animals' };\n    const charShots = {\n      'bg-a': { desc: 'primary-bg-plate', shot: null },\n      'bg-b': { desc: 'close-up-bg-plate', shot: 'Same exact scene and location described above. Camera pushes in to tight framing suitable for close-up character overlay. Background details in soft focus. Same lighting direction and color temperature' },\n      'bg-c': { desc: 'wide-bg-plate', shot: 'Same exact scene and location described above. Camera pulls back to wide establishing shot. Leave compositional space in lower-third for character overlay — keep visual weight in upper two-thirds. Same lighting direction and color temperature' }\n    };\n    return Object.entries(charShots).map(([id, config]) => ({\n      episode_id: episodeId,\n      scene_number: scene.scene_number,\n      variant_id: id,\n      variant_desc: config.desc,\n      visual_prompt_full: buildPrompt(bgScene, config.shot, act),\n      target_filename: `scene-${sceneNum}-${id}.png`,\n      generation_status: 'ready_for_generation',\n      scene_type: 'environment',\n      concept_type: 'literal_scene',\n      act: act,\n      pose_variant: scene.pose_variant || null,\n      canonical_source: canonicalFile,\n      generation_attempts: 0,\n      narrative_anchors: narrativeAnchors,\n      scene_signature: sceneSignature\n    }));\n  }\n\n  // ── NON-CHARACTER SCENES: 3 variants (primary, close-up, wide) ──\n  return Object.entries(SHOTS).map(([id, shotOverride]) => ({\n    episode_id: episodeId,\n    scene_number: scene.scene_number,\n    variant_id: id,\n    variant_desc: id === 'a' ? 'primary' : id === 'b' ? 'close-up' : 'wide',\n    visual_prompt_full: buildPrompt(scene, shotOverride, act),\n    target_filename: `scene-${sceneNum}-${id}.png`,\n    generation_status: 'ready_for_generation',\n    scene_type: scene.scene_type === 'narration_stills' ? 'environment' : 'detail',\n    concept_type: 'literal_scene',\n    act: act,\n    pose_variant: null,\n    canonical_source: null,\n    generation_attempts: 0,\n    narrative_anchors: narrativeAnchors,\n    scene_signature: sceneSignature\n  }));\n}\n\n// ── Per-Act B-Roll prompts ──\nconst BROLL_LIBRARY = {\n  ACT_1: {\n    mood: 'Dark, isolated, survival',\n    prompts: [\n      'City skyline at night, distant sodium vapor glow on low clouds, silhouetted buildings',\n      'Rain falling on cracked concrete, pooling in uneven surface, sodium vapor light reflecting in puddles',\n      'Chain-link fence shadow pattern cast by streetlight on empty sidewalk',\n      'Sodium vapor streetlight pool of orange on empty wet asphalt, darkness beyond',\n      'Empty urban street at 3am, single working streetlight, abandoned storefronts',\n      'Heavy padlock on rusted chain-link gate, peeling paint, night',\n      'Cracked concrete wall with water stains, harsh side-lighting',\n      'Distant emergency lights glow reflecting off wet street, no vehicles visible',\n      'Wet asphalt reflecting sodium vapor orange, shallow puddles, tire tracks',\n      'Lone streetlight illuminating empty intersection, deep shadows all around',\n      'Abandoned lot with weeds through concrete, chain-link perimeter, night',\n      'Rooftop edge silhouette against distant city glow, dark foreground'\n    ]\n  },\n  ACT_2A: {\n    mood: 'Wry, observational',\n    prompts: [\n      'Neon check-cashing sign reflected in wet window, urban night',\n      'Surveillance camera mounted on brick corner, harsh overhead light',\n      'Liquor store neon signs glowing through dirty glass, iron security bars',\n      'Sidewalk cracks in extreme close-up, weeds pushing through, sodium light',\n      'Empty bus stop bench under flickering fluorescent shelter light',\n      'Graffiti wall in deep shadow, single spray-painted tag illuminated by distant light',\n      'Bodega awning dripping rain, neon OPEN sign casting red glow on wet sidewalk'\n    ]\n  },\n  ACT_2B: {\n    mood: 'Warm, building',\n    prompts: [\n      'Warm kitchen light spilling through window onto dark exterior wall',\n      'Barbershop interior details — leather chair, mirror, warm incandescent light',\n      'Golden hour light on urban street, long shadows, warm tones breaking through steel',\n      'Concrete stoop with single potted plant, warm light from doorway behind',\n      'Dog-eared paperback book open on worn wooden surface, warm lamplight',\n      'Coffee steam rising in morning light, cup on windowsill, city visible outside',\n      'Warm light through curtain, casting soft pattern on interior wall'\n    ]\n  },\n  ACT_2C: {\n    mood: 'Conviction, community',\n    prompts: [\n      'Community garden plot with young plants, chain-link fence, early morning light',\n      'Railroad tracks converging to vanishing point, dawn light on horizon',\n      'Community bulletin board covered in flyers and notices, pin-light illumination',\n      'Sunrise over rooftops, warm orange breaking through dark steel sky',\n      'Open book pages in warm directional light, text blurred, moody',\n      'Single candle flame in dark room, warm glow on surrounding surfaces',\n      'Hands holding open book, close-up, warm light, no face visible'\n    ]\n  },\n  ACT_3A: {\n    mood: 'Historical, reverent',\n    prompts: [\n      'Old photograph edges curling, sepia tones, on dark wooden surface',\n      'Candlelight flickering on brick wall, warm shadows, reverent mood',\n      'Worn book pages extreme close-up, yellowed paper, printed text, soft focus',\n      'Old brick building facade, historical architecture, overcast light',\n      'Church steeple silhouette against dusk sky, muted colors',\n      'Archive texture — stacked old documents, leather binding, dust particles in light beam'\n    ]\n  },\n  ACT_3B: {\n    mood: 'Confident, practical',\n    prompts: [\n      'Laptop screen glow in dim room, code or course interface visible, modern',\n      'Food truck service window at night, warm interior light, menu board',\n      'Apartment windows grid pattern at night, various warm lights in each',\n      'Online course interface on screen, progress bar, clean modern design',\n      'Garden harvest — fresh vegetables in wooden crate, golden hour light',\n      'City panorama from elevated position, dawn, possibility and scale',\n      'Stack of books beside laptop, warm desk lamp, study setup',\n      'Hand writing in notebook, close-up, warm lamplight, no face'\n    ]\n  }\n};\n\n// ── Process all scenes ──\nconst allRecords = [];\nconst stats = { character: 0, environment: 0, detail: 0, remotion: 0, transition: 0, reuse: 0, broll: 0, beats: 0 };\n\nfor (const scene of scenes) {\n  if (!scene.visual_prompt || scene.visual_backend !== 'gemini') {\n    if (scene.visual_backend === 'remotion') stats.remotion++;\n    else if (!scene.visual_prompt && !scene.visual_backend) stats.transition++;\n    continue;\n  }\n\n  // ── NEW: If scene has visual_beats, generate one record per beat ──\n  if (scene.visual_beats && scene.visual_beats.length > 0) {\n    const beatRecords = buildBeatRecords(scene);\n    stats.beats += beatRecords.length;\n    allRecords.push(...beatRecords);\n    continue;\n  }\n\n  // ── LEGACY: scenes without visual_beats get 3 variants ──\n  const variants = buildVariants(scene);\n  const type = variants[0].scene_type;\n  stats[type] = (stats[type] || 0) + variants.length;\n  allRecords.push(...variants);\n}\n\n// ── Add B-Roll records (same structured template) ──\nfor (const [act, data] of Object.entries(BROLL_LIBRARY)) {\n  data.prompts.forEach((prompt, idx) => {\n    const brollNum = String(idx + 1).padStart(2, '0');\n    const actLower = act.toLowerCase().replace('_', '');\n    allRecords.push({\n      episode_id: episodeId,\n      scene_number: null,\n      variant_id: brollNum,\n      variant_desc: `broll-${data.mood.toLowerCase().split(',')[0].trim()}`,\n      visual_prompt_full: buildPrompt({ visual_prompt: prompt }, null, act),\n      target_filename: `broll-${actLower}-${brollNum}.png`,\n      generation_status: 'ready_for_generation',\n      scene_type: 'broll',\n      concept_type: 'literal_scene',\n      act: act,\n      pose_variant: null,\n      generation_attempts: 0,\n      narrative_anchors: '',\n      scene_signature: ''\n    });\n    stats.broll++;\n  });\n}\n\n// ── Reorder for timeline sequence: scenes by act, b-roll at act boundaries ──\nconst sceneRecs = allRecords.filter(r => r.scene_type !== 'broll');\nconst brollRecs = allRecords.filter(r => r.scene_type === 'broll');\nconst brollByAct = {};\nfor (const br of brollRecs) {\n  if (!brollByAct[br.act]) brollByAct[br.act] = [];\n  brollByAct[br.act].push(br);\n}\n\nconst timeline = [];\nlet prevAct = null;\nfor (const rec of sceneRecs) {\n  if (prevAct && rec.act !== prevAct && brollByAct[prevAct]) {\n    timeline.push(...brollByAct[prevAct]);\n    delete brollByAct[prevAct];\n  }\n  timeline.push(rec);\n  prevAct = rec.act;\n}\n// Last act's b-roll\nif (prevAct && brollByAct[prevAct]) {\n  timeline.push(...brollByAct[prevAct]);\n  delete brollByAct[prevAct];\n}\n// Orphan b-roll (acts with no scenes in this run)\nfor (const remaining of Object.values(brollByAct)) {\n  timeline.push(...remaining);\n}\n\n// Prefix each filename with 4-digit sequence\ntimeline.forEach((rec, i) => {\n  const seq = String(i + 1).padStart(4, '0');\n  rec.target_filename = `${seq}-${rec.target_filename}`;\n  rec.timeline_sequence = i + 1;\n});\n\nreturn timeline.map(record => ({ json: record }));"
      },
      "id": "scene-prep-expand-variants",
      "name": "Expand Variants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "scene-prep-split",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 400]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appTO7OCRB2XbAlak",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblHsBzmt8Skvq2jX",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "episode_id": "={{ $json.episode_id }}",
            "scene_number": "={{ $json.scene_number }}",
            "variant_id": "={{ $json.variant_id }}",
            "variant_desc": "={{ $json.variant_desc }}",
            "visual_prompt_full": "={{ $json.visual_prompt_full }}",
            "target_filename": "={{ $json.target_filename }}",
            "generation_status": "={{ $json.generation_status }}",
            "scene_type": "={{ $json.scene_type }}",
            "concept_type": "={{ $json.concept_type }}",
            "act": "={{ $json.act }}",
            "pose_variant": "={{ $json.pose_variant }}",
            "canonical_source": "={{ $json.canonical_source }}",
            "generation_attempts": "={{ $json.generation_attempts }}",
            "narrative_anchors": "={{ $json.narrative_anchors }}",
            "scene_signature": "={{ $json.scene_signature }}",
            "timeline_sequence": "={{ $json.timeline_sequence }}",
            "beat_timecode": "={{ $json.beat_timecode }}",
            "narration_fragment": "={{ $json.narration_fragment }}"
          }
        },
        "options": {}
      },
      "id": "scene-prep-airtable-upsert",
      "name": "Airtable — Create Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1100, 500],
      "credentials": {
        "airtableTokenApi": {
          "id": "YCWFwTIXwnTpVy2y",
          "name": "Airtable"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.2,
        "unit": "seconds"
      },
      "id": "scene-prep-wait",
      "name": "Wait — Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1320, 500]
    },
    {
      "parameters": {},
      "id": "scene-prep-loop-back",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 500]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $('Airtable — Create Record').all();\nconst episodeId = allItems[0]?.json?.episode_id || 'unknown';\n\n// Count by scene_type\nconst counts = {};\nfor (const item of allItems) {\n  const type = item.json.scene_type || item.json.fields?.scene_type || 'unknown';\n  counts[type] = (counts[type] || 0) + 1;\n}\n\nconst summary = {\n  status: 'complete',\n  episode_id: episodeId,\n  total_records_created: allItems.length,\n  counts_by_type: counts,\n  completed_at: new Date().toISOString()\n};\n\nreturn [{ json: summary }];"
      },
      "id": "scene-prep-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "scene-prep-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Pipeline JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Pipeline JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pipeline JSON": {
      "main": [
        [
          {
            "node": "Expand Variants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Variants": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable — Create Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable — Create Record": {
      "main": [
        [
          {
            "node": "Wait — Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Rate Limit": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "BowTie Bullies"
    },
    {
      "name": "Image Generation"
    },
    {
      "name": "Scene Prep"
    },
    {
      "name": "Video Pipeline"
    }
  ],
  "pinData": {}
}
